DEBUG=True
API_TOKEN=token

POSTGRES_ADDR=postgres
DB_SCHEMA=postgresql
DB_USER=ecr
DB_PASS=ecr
DB_HOST=postgres
DB_NAME=ecr


BASE_URL=
API_USER=
API_PASSWORD=

BDR_HOST=
BDR_API_URL=
BDR_API_KEY=

BDR_ENDPOINT_URL=
BDR_ENDPOINT_USER=
BDR_ENDPOINT_PASSWORD=

BDR_HELP_DESK_MAIL=

SENTRY_DSN=

AUTO_VERIFY_ALL_COMPANIES=
AUTO_VERIFY_NEW_COMPANIES=
MANUAL_VERIFY_ALL_COMPANIES=

SEND_MATCHING_MAILS=

HTTPS_VERIFY=

LOG_FILE=double_check.log

MAIL_SERVER=postfix
MAIL_SUPPRESS_SEND=false

FUZZ_LIMIT=75
