DEBUG=True
API_TOKEN=token

MYSQL_ROOT_PASSWORD=fcs
DB_SCHEMA=mysql
DB_USER=fcs
DB_PASS=fcs
DB_HOST=mysql
DB_NAME=fcs


BASE_URL=
API_USER=
API_PASSWORD=

BDR_HOST=
BDR_API_KEY=

BDR_ENDPOINT_URL=
BDR_ENDPOINT_USER=
BDR_ENDPOINT_PASSWORD=

BDR_HELP_DESK_MAIL=

SENTRY_DSN=

AUTO_VERIFY_ALL_COMPANIES=
AUTO_VERIFY_NEW_COMPANIES=
INTERESTING_OBLIGATIONS=

SEND_MATCHING_MAILS=

HTTPS_VERIFY=

LOG_FILE=double_check.log

FUZZ_LIMIT=75
