DEBUG=False
API_TOKEN=

DB_SCHEMA=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=

BASE_URL=
API_USER=
API_PASSWORD=

BDR_HOST=
BDR_API_KEY=

BDR_ENDPOINT_URL=
BDR_ENDPOINT_USER=
BDR_ENDPOINT_PASSWORD=

BDR_HELP_DESK_MAIL=

SENTRY_DSN=

AUTO_VERIFY_NEW_COMPANIES=
INTERESTING_OBLIGATIONS=

SEND_MATCHING_MAILS=

HTTPS_VERIFY=

LOG_FILE=

FUZZ_LIMIT=
