blinker==1.3
Flask==0.10.1
Flask-Admin==1.0.9
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.1
Flask-Script==2.0.5
alembic==0.9.5
fuzzywuzzy==0.4.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mysqlclient==1.3.12
openpyxl==2.1.3
python-Levenshtein==0.11.2
requests==2.4.3
raven==5.1.1
SQLAlchemy==1.1.15
Werkzeug==0.9.6
