blinker==1.4
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Mail==0.9.1
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
alembic==1.6.5
fuzzywuzzy==0.18.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
openpyxl==3.0.7
python-Levenshtein==0.12.2
requests==2.25.1
raven==6.10.0
SQLAlchemy==1.4.18
Werkzeug==2.0.1
