alembic==1.6.5
blinker==1.4
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Mail==0.9.1
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
fuzzywuzzy==0.18.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.22.0
psycopg2-binary==2.9.1
python-Levenshtein==0.12.2
raven==6.10.0
requests==2.25.1
openpyxl==3.0.7
SQLAlchemy==1.4.18
Werkzeug==2.0.1
