# Turn this off on production
DEBUG = True

SQLALCHEMY_DATABASE_URI = ('sqlite:///../db.sqlite3')

API_URL = ''
API_USER = ''
API_PASSWORD = ''

BDR_API_URL = 'https://bdr-test.eionet.europa.eu/registry/api'
BDR_API_KEY = ''

BDR_ENDPOINT_URL = 'https://bdr-test.eionet.europa.eu'
BDR_ENDPOINT_USER = ''
BDR_ENDPOINT_PASSWORD = ''

LOG_FILE = 'instance/EEA_double_check.log'

# email server
MAIL_SERVER = 'smtp.googlemail.com'
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = ''
MAIL_PASSWORD = ''

NOTIFY_EMAILS = ['mihai.zamfir@eaudeweb.ro']
