{% extends 'mails/_layout.html' %}

{% block content %}
  Dear {{ first_name }} {{ last_name }},

  <p>
    User <b>{{ user }}</b> has matched <b>{{ company_name }}</b> company (registered in the FGAS portal)
    with the old record <b>{{ oldcompany_name }}</b> (taken from BDR-Registry), based on suggestions made by the system.

    <br>

    You can see the company details here:
    <a href="https://bdr-test.eionet.europa.eu/fgases_registry/organisation_details?id={{ company_id }}">
      https://bdr-test.eionet.europa.eu/fgases_registry/organisation_details?id={{ company_id }}
    </a>
  </p>
  <br>
  Best regards,<br>
  BDR Help Desk
{% endblock %}
