PATCH_USERS = {
    '26880': [
        {
            'username': 'userName',
            'first_name': 'firstName',
            'last_name': 'lastName',
            'email': 'emailAddress',
        },
    ],
}

PATCH_AUDITOR_USERS = {
    'FAUCP7CE': [
        {
            'username': 'user_auditor',
            'first_name': 'firstName',
            'last_name': 'lastName',
            'email': 'user@auditor.org',
            'type': 'AUDITOR_ORG_FGAS',
        },
    ],
}

PATCH_COMPANIES = {
    '26880': {
        'company_id': 10085,
        'undertaking_type': 'FGASUndertaking',
        'website': 'WEBSITE--10085',
        'status': 'VALID',
        'domain': 'ODS',
    }
}
