PATCH_USERS = {
    '26880': [
        {
            'username': 'userName',
            'first_name': 'firstName',
            'last_name': 'lastName',
            'email': 'emailAddress',
        },
    ],
}

PATCH_COMPANIES = {
    '26880': {
        'company_id': 10085,
        'undertaking_type': 'FGASUndertaking',
        'website': 'WEBSITE--10085',
        'status': 'VALID',
        'domain': 'ODS',
    }
}


PATCH_AUDITORS = {
    "1234ABCD": {
        "name": "Updated name",
        "contactPersons": [
            {
                "type": "TYPE",
                "userName": "username",
                "firstName": "first name",
                "lastName": "last name",
                "emailAddress": "email@mail.com",
            }
        ],
        "address": {
            "street": "Street",
            "number": "1",
            "zipCode": "12345",
            "city": "City",
            "country": {
                "code": "PL",
                "name": "Poland",
                "type": "TYPE"
            }
        },
        "msAccreditation": {
            "enabled": True,
            "issuingCountryCodes": [
                "RO"
            ]
        }
    },
}
