{% extends 'mails/_layout.html' %}

{% block content %}
  Dear {{ first_name }} {{ last_name }},

  <p>
    User <b>{{ user }}</b> has added <b>{{ company_name }}</b> company (registered in the {{ domain }} portal).
    It had not match with any of the old records.

    <br>

    You can see the company details here:
    <a href="{{ host }}/european_registry/organisation_details?id={{ company_id }}&domain={{ domain }}">
      {{ host }}/european_registry/organisation_details?id={{ company_id }}&domain={{ domain }}
    </a>
  </p>
  <br>
  Best regards,<br>
  BDR Help Desk
{% endblock %}
